<p id="notice"><%= notice %></p>

<h1>Listing Heads</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @heads.each do |head| %>
      <tr>
        <td><%= head.image %></td>
        <td><%= link_to 'Show', head %></td>
        <td><%= link_to 'Edit', edit_head_path(head) %></td>
        <td><%= link_to 'Destroy', head, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Head', new_head_path %>
