<p><%= t(:hello).capitalize %> <%= @user.email %>!</p>

<p><%= t :request_reset_link_msg %></p>

<p><%= t(:restore_password ) + ' ' +  @password %> </p>

<p><%= t :changes_msg %></p>
<p><%= t :secure_changes_msg %></p>