<p id="notice"><%= notice %></p>

<h1>Listing Action Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @action_types.each do |action_type| %>
      <tr>
        <td><%= action_type.name %></td>
        <td><%= action_type.image %></td>
        <td><%= link_to 'Show', action_type %></td>
        <td><%= link_to 'Edit', edit_action_type_path(action_type) %></td>
        <td><%= link_to 'Destroy', action_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Action type', new_action_type_path %>
