

<% pass = Devise.friendly_token.first(8) %>
<% @resource.update_attributes( { :password => pass, :password_confirmation => pass }) %>

<p><%= t(:hello).capitalize %> <%= @resource.email %>!</p>

<p><%= t '.request_reset_link_msg' %></p>

<p><%= t '.restore_password' %><%= pass %> </p>

<p><%= t '.changes_msg' %></p>
<p><%= t '.secure_changes_msg' %></p>
